extends ../partials/header.pug

block main
  form#search-form(action='/memes' method='GET')
    div.search-wrapper
      input(type='text', name='search', placeholder='Search memes...', value=search)
      button(type='submit')
        i(class='fas fa-search')
  button#toggle-upload-button ekle
  div.memes-container
    each meme in memes
      div.meme
        h2= meme.title
        img(src=`${process.env.R2_PUBLIC_ENDPOINT}/${meme.filename}`, alt=meme.title)
        p= meme.description
        if `${user._id}` == `${meme.owner}`
          form#delete-form(action=`/memes` method='delete')
            input(type='hidden' name='id' value=meme._id)
            input(type='hidden' name='user' value=user)
            input(type='hidden' name='token' value=token)
            button(type='submit')
              i(class='fas fa-trash')
    form.hidden#upload-form(action='/memes' method='POST' enctype='multipart/form-data')
      div
        label(for='title') başlık
        input(type='text', name='title', id='title', required)
      div
        label(for='description') açıklama
        textarea(name='description', id='description', required)
      div
        label(for='filename') resim
        input(type='file', name='filename', id='filename', required)
      div
        button(type='submit') miim yükle
